# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Test and cache
.pytest_cache/
.mypy_cache/
.coverage

# Operating system
.DS_Store
Thumbs.db
